<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.program.picture.mapper.PictureCollectionMapper">
  <resultMap id="BaseResultMap" type="com.program.picture.domain.entity.PictureCollection">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="picture_id" jdbcType="INTEGER" property="pictureId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from picture_collection
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.program.picture.domain.entity.PictureCollection">
    insert into picture_collection (id, picture_id, user_id, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{pictureId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.program.picture.domain.entity.PictureCollection">
    update picture_collection
    set picture_id = #{pictureId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, picture_id, user_id, create_time, update_time
    from picture_collection
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, picture_id, user_id, create_time, update_time
    from picture_collection
  </select>
</mapper>