<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.program.picture.mapper.UserDetailsMapper">
  <resultMap id="BaseResultMap" type="com.program.picture.domain.entity.UserDetails">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="constellation" jdbcType="VARCHAR" property="constellation" />
    <result column="edu" jdbcType="VARCHAR" property="edu" />
    <result column="job" jdbcType="VARCHAR" property="job" />
    <result column="hobby" jdbcType="VARCHAR" property="hobby" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_details
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.program.picture.domain.entity.UserDetails">
    insert into user_details (id, user_id, email, 
      age, gender, constellation, 
      edu, job, hobby, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, 
      #{age,jdbcType=INTEGER}, #{gender,jdbcType=VARCHAR}, #{constellation,jdbcType=VARCHAR}, 
      #{edu,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR}, #{hobby,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.program.picture.domain.entity.UserDetails">
    update user_details
    set user_id = #{userId,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      gender = #{gender,jdbcType=VARCHAR},
      constellation = #{constellation,jdbcType=VARCHAR},
      edu = #{edu,jdbcType=VARCHAR},
      job = #{job,jdbcType=VARCHAR},
      hobby = #{hobby,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, email, age, gender, constellation, edu, job, hobby, create_time, 
    update_time
    from user_details
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, email, age, gender, constellation, edu, job, hobby, create_time, 
    update_time
    from user_details
  </select>
</mapper>